torch==2.5.1+cxx11.abi
torchvision==0.20.1+cxx11.abi
torchaudio==2.5.1+cxx11.abi
--extra-index-url https://download.pytorch.org/whl/cpu
intel_extension_for_pytorch==2.5.10+xpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/cn/
